{% extends "layout.html" %}

{% block content %}

<script src="/static/scripts/pace.min.js"></script>

<script src="/static/scripts/nifty.min.js"></script>
<script src="/static/scripts/icons.js"></script>

<script src="/static/scripts/echarts.js"></script>
<script src="/static/scripts/tags.js"></script>


<div class="page-header">
    <h1></h1>
</div>




<div class="row">
    <center>

        <h1>Case Search</h1>

        <form class="form-inline">
            <div class="input-group">
                <input type="text" id="search" class="form-control input-lg" placeholder="请简要描述您的经历...">

            </div>

        </form>
        <button class="btn btn-default" onclick="search_knowledge()">搜索</button>
    </center>
</div>

<hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#6f5499" size="3" />

<div class="row" id="caseGraphRow">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>案例图谱查询结果</h3>
        </div>
        <div class="panel-body">
            <div class="well">
                <div class="col-lg-12" style="height:700px;" id="graph">

                </div>
            </div>

            <div class="well">
                <div class="col-lg-12" style="height:700px;" id="stat">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function () {

        var width, height, largeHeader, canvas, ctx, triangles, target, animateHeader = true;
        var colors = ['72,35,68', '43,81,102', '66,152,103', '250,178,67', '224,33,48'];

        // Main
        initHeader();
        addListeners();
        initAnimation();

        function initHeader() {
            width = window.innerWidth;
            height = window.innerHeight;
            //target = { x: 0, y: height };

            //largeHeader = document.getElementById('large-header');
            //largeHeader.style.height = height + 'px';

            var canvas = document.createElement('demo-canvas');
            canvas.width = width;
            canvas.height = height;
            canvas.style.position = 'fixed';
            canvas.style.top = 0;
            canvas.style.zIndex = -188
            $("body").prepend(canvas);
            var ctx = canvas.getContext('2d');

            // create particles
            triangles = [];
            for (var x = 0; x < 480; x++) {
                addTriangle(x * 10);
            }
        }

        function addTriangle(delay) {
            setTimeout(function () {
                var t = new Triangle();
                triangles.push(t);
                tweenTriangle(t);
            }, delay);
        }

        function initAnimation() {
            animate();
        }

        function tweenTriangle(tri) {
            var t = Math.random() * (2 * Math.PI);
            var x = (200 + Math.random() * 100) * Math.cos(t) + width * 0.5;
            var y = (200 + Math.random() * 100) * Math.sin(t) + height * 0.5 - 20;
            var time = 4 + 3 * Math.random();

            TweenLite.to(tri.pos, time, {
                x: x,
                y: y, ease: Circ.easeOut,
                onComplete: function () {
                    tri.init();
                    tweenTriangle(tri);
                }
            });
        }

        // Event handling
        function addListeners() {
            window.addEventListener('scroll', scrollCheck);
            window.addEventListener('resize', resize);
        }

        function scrollCheck() {
            if (document.body.scrollTop > height) animateHeader = false;
            else animateHeader = true;
        }

        function resize() {
            width = window.innerWidth;
            height = window.innerHeight;
            largeHeader.style.height = height + 'px';
            canvas.width = width;
            canvas.height = height;
        }

        function animate() {
            if (animateHeader) {
                ctx.clearRect(0, 0, width, height);
                for (var i in triangles) {
                    triangles[i].draw();
                }
            }
            requestAnimationFrame(animate);
        }

        // Canvas manipulation
        function Triangle() {
            var _this = this;

            // constructor
            (function () {
                _this.coords = [{}, {}, {}];
                _this.pos = {};
                init();
            })();

            function init() {
                _this.pos.x = width * 0.5;
                _this.pos.y = height * 0.5 - 20;
                _this.coords[0].x = -10 + Math.random() * 40;
                _this.coords[0].y = -10 + Math.random() * 40;
                _this.coords[1].x = -10 + Math.random() * 40;
                _this.coords[1].y = -10 + Math.random() * 40;
                _this.coords[2].x = -10 + Math.random() * 40;
                _this.coords[2].y = -10 + Math.random() * 40;
                _this.scale = 0.1 + Math.random() * 0.3;
                _this.color = colors[Math.floor(Math.random() * colors.length)];
                setTimeout(function () { _this.alpha = 0.8; }, 10);
            }

            this.draw = function () {
                if (_this.alpha >= 0.005) _this.alpha -= 0.005;
                else _this.alpha = 0;
                ctx.beginPath();
                ctx.moveTo(_this.coords[0].x + _this.pos.x, _this.coords[0].y + _this.pos.y);
                ctx.lineTo(_this.coords[1].x + _this.pos.x, _this.coords[1].y + _this.pos.y);
                ctx.lineTo(_this.coords[2].x + _this.pos.x, _this.coords[2].y + _this.pos.y);
                ctx.closePath();
                ctx.fillStyle = 'rgba(' + _this.color + ',' + _this.alpha + ')';
                ctx.fill();
            };

            this.init = init;
        }

    })();

</script>





<script type="text/javascript">
    $("#caseGraphRow").hide()


    $(document).keypress(function (e) {
        // press 'enter' ,then execute the function
        if (e.which == 13) {
            search();
        }
    });

    window.onresize = function () {
        //resize the graph area
        myChart.resize();
    }

    //lock the web browser
    $.ajaxSetup({ async: false });



    option = {
        backgroundColor: '#0f375f',
        title: {
            text: 'Graph 简单示例',
            show: false
        },
        legend: {
            data: [{
                name: "short"
            },
            {
                name: "long"
            },
            {
                name: "text"
            }
            ]
        },
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series: [
            {
                type: 'graph',
                layout: 'force',
                hoverAnimation: true,
                focusNodeAdjacency: true,
                symbolSize: 50,
                force: {
                    repulsion: 100,
                    edgeLength: [50, 200]
                },
                roam: true,
                categories: [{
                    name: "short",
                    itemStyle: {
                        normal: {
                            color: "#2B73FF"
                        }
                    }
                },
                {
                    name: "long",
                    itemStyle: {
                        normal: {
                            color: "#2EFFAE"
                        }
                    }
                },
                {
                    name: "text",
                    itemStyle: {
                        normal: {
                            color: "#FF2E64"
                        }
                    },
                    label:
                    {
                        normal: {
                            show: false
                        },
                        emphasize: {
                            show: true
                        }
                    }
                }

                ],
                label: {
                    normal: {
                        show: true
                    },
                    emphasis: {
                        show: true,
                        color: "#5FB7D5",
                        fontSize: 15
                    }
                },
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 10],
                edgeLabel: {
                    normal: {
                        textStyle: {
                            fontSize: 10
                        }
                    },
                    emphasis: {
                        show: true,
                        color: "#000000",
                        fontSize: 13
                    },
                    formatter: "{c}"
                },
                lineStyle: {
                    normal: {
                        opacity: 0.9,
                        width: 2,
                        curveness: 0
                    },
                    emphasis: {
                        opacity: 1,
                        width: 5,
                        curveness: 0.2
                    }
                },
                itemStyle: {
                    emphasis: {
                        color: "#FFA465"
                    }
                }
            }
        ]
    };

    //interact with back end
    function search_knowledge() {

        $.getJSON('/case_graph_search', {
            caseDes: $("#search").val(),

        }, function (json) {



            option.series[0].data = json.data;

            option.series[0].links = json.links;

            option2.series[0].data = json.nodeAnalyse;

            option2.series[1].data = json.linkAnalyse;

            option2.series[2].data = json.totalStat.reverse();

            $("#caseGraphRow").show()

            var myChart = echarts.init(document.getElementById("graph"));

            //show the loading process
            //myChart.showLoading();
            var myChart2 = echarts.init(document.getElementById("stat"));

            myChart.setOption(option, true);

            myChart2.setOption(option2, true);

        });
    }

    var yAxisData = ['符合条件的案例', '匹配案例的节点数', '匹配案例的关系数', '短文本节点', '长文本节点', '描述性节点', '本案例中完全匹配的三元组'];
    var option2 = {
        backgroundColor: '#0f375f',
        title: [
            { text: "节点分析", x: '2%', y: '1%', textStyle: { color: "#fff", fontSize: "14" } },
            { text: "图谱数据统计", x: '40%', y: '1%', textStyle: { color: "#fff", fontSize: "14" } },
            { text: "关系分析", x: '2%', y: '50%', textStyle: { color: "#fff", fontSize: "14" } },
        ],
        grid: [
            { x: '50%', y: '7%', width: '45%', height: '90%' },
        ],
        tooltip: {
            formatter: '{b} ({c})'
        },
        xAxis: [
            { gridIndex: 0, axisTick: { show: false }, axisLabel: { show: false }, splitLine: { show: false }, axisLine: { show: false } },
        ],
        yAxis: [
            {
                gridIndex: 0, interval: 0, data: yAxisData.reverse(),
                axisTick: { show: false }, axisLabel: { show: true }, splitLine: { show: false },
                axisLine: { show: true, lineStyle: { color: "#6173a3" } },
            }
        ],
        series: [
            {
                name: '节点分析',
                type: 'pie',
                radius: '30%',
                center: ['22%', '25%'],
                color: ['#86c9f4', '#4da8ec', '#3a91d2', '#005fa6', '#315f97'],

                labelLine: { normal: { show: false } },
                itemStyle: { normal: { label: { show: true, formatter: '{b} \n ({d}%)', textStyle: { color: '#B1B9D3' } } }, },
            },
            {
                name: '关系分析',
                type: 'pie',
                radius: '30%',
                center: ['22%', '75%'],
                color: ['#86c9f4', '#4da8ec', '#3a91d2', '#005fa6', '#315f97'],
                labelLine: { normal: { show: false } },


                itemStyle: { normal: { label: { show: true, formatter: '{b} \n ({d}%)', textStyle: { color: '#B1B9D3' } } }, },
            },
            {
                name: '图谱数据统计',
                type: 'bar', xAxisIndex: 0, yAxisIndex: 0, barWidth: '45%',
                itemStyle: { normal: { color: '#86c9f4' } },
                label: { normal: { show: true, position: "right", textStyle: { color: "#9EA7C4" } } },
            },

        ]
    };


</script>



{% endblock %}
