{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <center>
                {{ form.question.label }}
            </center>
        </div>
        <div class="row">
            <center>
                {{ form.question(id='question-text-field')}}
            </center>
        </div>
        <div class="row">
            <center>
                {{ form.submit() }}
            </center>
        </div>
    </form>
</div>


{% endblock %}
